body {
  font-family: helvetica, arial, sans-serif, gotham 'Open Sans', sans-serif;
  margin: 0;
  padding:0;
}

h1 {
  color: #000000;
  font-size: 45px;
  margin:0;
}

h2 {
  color: #D3D3D3;
  font-size: 18px;
  
}

h3 {
  color:#000000
  font-size:15px;
}
body {
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: 0;
  padding:0;
  overflow:hidden;
}

#homeicon {
  position: relative;
  top: 20px;
  left: 40px;
  width: 450px;
  color: #FFFFFF;
  
  
  font-kerning: none;
  


}

#artworkbutton {
  position: relative;
  top: -30px;
  left: 1200px;
  width: 100px;
  float: left;
  color: #FFFFFF;
  
  display:block;
</a>
}

#biographybutton {
  position: relative;
  top: -30px;
  left: 1230px;
  width: 100px;
  float: left;
  color: #FFFFFF;
  <a href="biography.html">
  
  
}
#visitbutton {
  position: relative;
  top: -30px;
  left: 1250px;
  width: 100px;
  float: left;
  color: #FFFFFF;
  
}

#homebutton {
  position: relative;
  top: -30px;
  left: 790px;
  width: 60px;
  float: left;
  color: #FFFFFF;
  
}





/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: white;
}


.divtext2{
  position:relative;
  font-size: 34px;
  font-weight:bold;
  line-height: 24px;
  color: #00000;
  
  font-family: 'gotham', sans-serif;
  text-align: center;
  top:5%
  
 
}


.divtext{
  position:relative;
  font-size: 24px;
  font-weight:bold;
  line-height: 24px;
  color: #00000;
  font-family: 'gotham', sans-serif;
  text-align: center;
  top:5%
}


.divtext3{
position:relative;
  font-size: 24px;
  
  line-height: 24px;
  color: #00000;
  font-family: 'gotham', sans-serif;
  
  
}

#wheretext{
  position:relative;
  right:600px;
  bottom:350px;
  
}

#whereanswer{
  position:relative;
  bottom:330px;
  right:427px;
  left:55px;
}

#museumtitle{
  position:relative;
  right:750px;
  top:40px;
  
  
}

#museumpic{
  position:relative;
  bottom:10px;
  left:850px;
  float:left:
}

#pricetext{
  position:relative;
  bottom:300px;
  right:565px;
  
}

#priceanswer{
  position:relative;
  bottom:280px;
  left:55px;
  
}

#priceanswer2{
  position:relative;
  bottom:280px;
  left:55px;
  
}

#featurestext{
  position:relative;

}

.textbox{
  width:700px;
  position:relative;
  bottom:700px;
  left:58px;
}

.divtext5{
  position:relative;
  font-size: 24px;
  
  line-height: 24px;
  color: #00000;
  font-family: 'gotham', sans-serif;
  
  top:5%
}

