/* CSS files add styling rules to your content */

body {
  font-family: 'Roboto', sans-serif;
  margin: 2em;
  background-image: url("https://www.thoughtco.com/thmb/Juo9H0RfwtwvWVCgjWdms43BQVc=/3763x2822/smart/filters:no_upscale()/VanGoghSelf-PortraitWithBandageCROPPEDGetty149279299-5a12199ada27150037a6f747.jpg")
}

h1 {
  font-style: italic;
  color: #373fff;
}

}


* {
  box-sizing: border-box;
}

.box {
  float: left;
  width: 33.33%;
  padding: 50px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.yellowbox{
  background-color: yellow;
}
.redbox{
  background-color: red;
  color: yellow;
  
}
.purplebox{
  background-color: purple;
}
.greenbox{
  background-color: green;
}

.threecol{
  width: 33.33%;
}
.twocol{
  width: 50%;
}
.onecol{
  width: 100%;
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}