body {
  font-family: helvetica, arial, sans-serif, gotham 'Open Sans', sans-serif;
  margin: 2em;
}

h1 {
  color: #000000;
  font-size: 45px;
}

h2 {
  color: #000000;
  font-size: 15px;
}

h3 {
  color:#000000
  font-size:10px;
}
body {
  background-image: url("https://cdn.glitch.com/f87dacb1-7677-4e98-a074-0f0c541c97f6%2Fbg.jpg?v=1606635194365");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  overflow:hidden;

}

#homeicon {
  position: relative;
  bottom: 25px;
  right: 10px;
  color: #FFFFFF;
  width:300px
  float: left;
  font-kerning: none;
  background-color: rgba(0, 0, 0, 0.1);
}

#artworkbutton {
  position: relative;
  bottom: 100px;
  left: 1200px;
  width: 100px;
  float: left;
  color: #FFFFFF;
  
  display:block;
</a>
}

#biographybutton {
  position: relative;
  bottom: 100px;
  left: 1200px;
  width: 100px;
  float: left;
  color: #FFFFFF;
  <a href="biography.html">
  
  
}
#visitbutton {
  position: relative;
  bottom: 100px;
  left: 1200px;
  width: 100px;
  float: left;
  color: #FFFFFF;
  
}

#homebutton {
  position: relative;
  bottom: 100px;
  left: 830px;
  width: 60px;
  float: left;
  color: #FFFFFF;
  
}






/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: white;
}


.divtext2{
  position:relative;
  font-size: 34px;
  font-weight:bold;
  line-height: 24px;
  color: #00000;
  text-decoration: underline;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  top:5%
  
 
}


.divtext{
  position:relative;
  font-size: 24px;
  font-weight:bold;
  line-height: 24px;
  color: #00000;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  top:5%
}


.divtext3{
position:relative;
  font-size: 24px;
  font-weight:bold;
  line-height: 24px;
  color: #00000;
  font-family: 'Open Sans', sans-serif;
  text-decoration: underline;
  
}

#wheretext{
  position:relative;
  right:600px;
  bottom:370px;
  
}

#whereanswer{
  position:relative;
  bottom:350px;
  right:427px;
  left:55px;
}

#museumtitle{
  position:relative;
  right:740px;
  bottom:10px;
  
  
}

#museumpic{
  position:relative;
  bottom:40px;
  left:800px;
  float:left:
}

#pricetext{
  position:relative;
  bottom:320px;
  right:565px;
  
}

#priceanswer{
  position:relative;
  bottom:300px;
  left:55px;
  
}

#priceanswer2{
  position:relative;
  bottom:300px;
  left:55px;
  
}

#featurestext{
  position:relative;

}

.textbox{
  width:700px;
  position:relative;
  bottom:750px;
}