/* CSS files add styling rules to your content */


body {
  font-family: helvetica, arial, sans-serif, gotham 'Open Sans', sans-serif;
  margin: 0;
  padding:0;
}

h1 {
  color: #000000;
  font-size: 45px;
  margin:0;
}

h2 {
  color: #D3D3D3;
  font-size: 18px;
  
}

h3 {
  color:#000000
  font-size:15px;
}
body {
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  overflow:hidden;
  margin: 0;
  padding:0;
  
}





/* Slideshow container */
.slideshow-container {
  width: 760px;
  height: 750px;
  position: relative;
  left: 20px;
  bottom:6px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}




/* responsive */

.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}

/* vincent logo */



#homeicon {
  position: relative;
  top: 20px;
  left:40px;
  width: 450px;
  color: #FFFFFF;
  
  
  font-kerning: none;
  


}

#artworkbutton {
  position: relative;
  top: -30px;
  left: 1200px;
  width: 100px;
  float: left;
  color: #FFFFFF;
  
  display:block;
</a>
}

#biographybutton {
  position: relative;
  top: -30px;
  left: 1230px;
  width: 100px;
  float: left;
  color: #FFFFFF;
  <a href="biography.html">
  
  
}
#visitbutton {
  position: relative;
  top: -30px;
  left: 1250px;
  width: 100px;
  float: left;
  color: #FFFFFF;
  
}

#homebutton {
  position: relative;
  top: -30px;
  left: 790px;
  width: 60px;
  float: left;
  color: #FFFFFF;
  
}



/*art*/

#cafe {
  position: relative;
  left: 800px;
  bottom: 706px;
  
  float: left;
  
}

#vincent {
  position: relative;
  left: 820px;
  bottom: 705px;
}

#starryover {
  position: relative;
  left: 250px;
  bottom: 310px;
}


/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: white;
}



.container {
  position: relative;
  width: 50%;
  max-width: 100px;
  
}



.image {
  display: block;
  width: 350px;
  height: 390px;
}


.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 310px;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}



.container:hover .overlay {
  opacity: 1;
}

.container2:hover .overlay {
  opacity: 1;
}

.container:hover .overlay {
  opacity: 1;
}



.container2 {
  position: relative;
  left:100px
  width: 50%;
  max-width: 200px;
  float:left;
}



.image {
  display: block;
  width: 350px;
  height: 390px;
}


.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 310px;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}



.container:hover .overlay {
  opacity: 1;
}

.container2:hover .overlay {
  opacity: 1;
}

.container:hover .overlay {
  opacity: 1;
}


.container3 {
  position: relative;
  left:100px
  width: 50%;
  max-width: 200px;
  float:left;
}




.image {
  display: block;
  width: 350px;
  height: 390px;
}


.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 310px;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}



.container3:hover .overlay {
  opacity: 1;
}

.container2:hover .overlay {
  opacity: 1;
}

.container:hover .overlay {
  opacity: 1;
}

